/************************
General
*************************/
body{
  font-family: 'Josefin Sans', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  width: 100%;
}
a {
  text-decoration:none;
}
a {
  color: #6ab4ff;
}
img {
  max-width: 100%;
}
h3{
  margin:0 0 1em 0;
}
/************************
HEADING
*************************/
header{
  float:left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width:100%
}
#logo{
  text-align:center;
  margin: 0;
}

h1{
  font-family: 'Josefin Sans', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height:0.8em;
  text-align:center;
}
h2{
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: bold;
}
/************************
NAVIGATION
*************************/
nav{
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
  font-weight: bold;
}

nav ul{
  list-style:none;
  margin: 0 10px;
  padding: 0;
}
nav li{
  display:inline-block;
}

nav a {
  font-weight:800;
  padding:15px 10px;
}
/************************
FOOTER
*************************/
footer {
  font-size: 0.75em;
  text-align:center;
  clear:both;
  padding-top: 50px;
  color: #ccc;
}
.social-icon{
  width:20px;
  height:20px;
  margin:0 5px;
}




/************************
COLORS
*************************/
/* site body */
body{
  background-color: #fff;
  color:#999;
}
/*red header*/
header {
  background: #F20505;
  border-color: #1adaff;
}
/* nav background on mobile devices*/
nav{
  background: #1adaff;
}
/* logo text*/
h1, h2{
  color: #ffffff;
}
/*color of a nav link*/
nav a, nav a:visited {
  color: #fff;
}
/*selected nav link color*/
nav a.selected, nav a:hover{
  color: #3267ff;
}
/************************
PAGE:PORTFOLIO
*************************/
#gallery {
  margin:0;
  padding: 0;
  list-style:none;
}
#gallery li {
  float:left;
  width:200px;
  width:200px;
  margin:2.5%;
  background-color: #F20505;
  color:#bdc3c7;

}
#gallery li a p{
  margin:0;
  padding:5%;
  font-size:1.00em;
  color:#ffffff;
}
body{
  font-family: 'Josefin Sans', sans-serif;
}
button {
    width:125px;
    margin-left:auto;
    margin-right:auto;
}
  



  
